RefundRobot/RefundRobot_2005/Web References/InvoicePost/AccountsProService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s0="http://tempuri.org/AccountsProWS/Service1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/AccountsProWS/Service1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/AccountsProWS/Service1">
      <s:element name="CreateAccountsProUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserInfoStruct" type="s0:AccountsProUserInfoToCreate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountsProUserInfoToCreate">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAccountsProUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAccountsProUserResult" type="s0:TransactionReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionReport">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoreErrorDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEmployeeIO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserInfoStruct" type="s0:EmployeeInfoToCreate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmployeeInfoToCreate">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MerchantId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEmployeeIOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateEmployeeIOResult" type="s0:EmployeeTransactionReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmployeeTransactionReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoreErrorDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RefundRobot_PostCreditInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MerchantID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CreditInvoiceNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundRobot_PostCreditInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefundRobot_PostCreditInvoiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CXLRobot_PostInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MerchantID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CXLRobot_PostInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CXLRobot_PostInvoiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSupplierFromCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SupplierData" type="s0:SupplierInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SupplierInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MerchantID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateSupplierFromCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateSupplierFromCustomerResult" type="s0:SupplierFromCustomerResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SupplierFromCustomerResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SupplierID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoreErrorDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="CreateAccountsProUserSoapIn">
    <part name="parameters" element="s0:CreateAccountsProUser" />
  </message>
  <message name="CreateAccountsProUserSoapOut">
    <part name="parameters" element="s0:CreateAccountsProUserResponse" />
  </message>
  <message name="CreateEmployeeIOSoapIn">
    <part name="parameters" element="s0:CreateEmployeeIO" />
  </message>
  <message name="CreateEmployeeIOSoapOut">
    <part name="parameters" element="s0:CreateEmployeeIOResponse" />
  </message>
  <message name="RefundRobot_PostCreditInvoiceSoapIn">
    <part name="parameters" element="s0:RefundRobot_PostCreditInvoice" />
  </message>
  <message name="RefundRobot_PostCreditInvoiceSoapOut">
    <part name="parameters" element="s0:RefundRobot_PostCreditInvoiceResponse" />
  </message>
  <message name="CXLRobot_PostInvoiceSoapIn">
    <part name="parameters" element="s0:CXLRobot_PostInvoice" />
  </message>
  <message name="CXLRobot_PostInvoiceSoapOut">
    <part name="parameters" element="s0:CXLRobot_PostInvoiceResponse" />
  </message>
  <message name="CreateSupplierFromCustomerSoapIn">
    <part name="parameters" element="s0:CreateSupplierFromCustomer" />
  </message>
  <message name="CreateSupplierFromCustomerSoapOut">
    <part name="parameters" element="s0:CreateSupplierFromCustomerResponse" />
  </message>
  <portType name="AccountsProServiceSoap">
    <operation name="CreateAccountsProUser">
      <input message="s0:CreateAccountsProUserSoapIn" />
      <output message="s0:CreateAccountsProUserSoapOut" />
    </operation>
    <operation name="CreateEmployeeIO">
      <input message="s0:CreateEmployeeIOSoapIn" />
      <output message="s0:CreateEmployeeIOSoapOut" />
    </operation>
    <operation name="RefundRobot_PostCreditInvoice">
      <input message="s0:RefundRobot_PostCreditInvoiceSoapIn" />
      <output message="s0:RefundRobot_PostCreditInvoiceSoapOut" />
    </operation>
    <operation name="CXLRobot_PostInvoice">
      <input message="s0:CXLRobot_PostInvoiceSoapIn" />
      <output message="s0:CXLRobot_PostInvoiceSoapOut" />
    </operation>
    <operation name="CreateSupplierFromCustomer">
      <input message="s0:CreateSupplierFromCustomerSoapIn" />
      <output message="s0:CreateSupplierFromCustomerSoapOut" />
    </operation>
  </portType>
  <binding name="AccountsProServiceSoap" type="s0:AccountsProServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreateAccountsProUser">
      <soap:operation soapAction="http://tempuri.org/AccountsProWS/Service1/CreateAccountsProUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateEmployeeIO">
      <soap:operation soapAction="http://tempuri.org/AccountsProWS/Service1/CreateEmployeeIO" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RefundRobot_PostCreditInvoice">
      <soap:operation soapAction="http://tempuri.org/AccountsProWS/Service1/RefundRobot_PostCreditInvoice" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CXLRobot_PostInvoice">
      <soap:operation soapAction="http://tempuri.org/AccountsProWS/Service1/CXLRobot_PostInvoice" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateSupplierFromCustomer">
      <soap:operation soapAction="http://tempuri.org/AccountsProWS/Service1/CreateSupplierFromCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AccountsProService">
    <port name="AccountsProServiceSoap" binding="s0:AccountsProServiceSoap">
      <soap:address location="http://accountsws.accountscentre.com/AccountsProService.asmx" />
    </port>
  </service>
</definitions>