CXLRobot_MultiDB_2/Web References/InfiniMarket/Default.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/SingleSignIn/_Default" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/SingleSignIn/_Default" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SingleSignIn/_Default">
      <s:element name="SignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDivisor">
        <s:complexType />
      </s:element>
      <s:element name="GetDivisorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDivisorResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isCustomerExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Customer_uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isCustomerExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isCustomerExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLoggedIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Customer_uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcesOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerOrderProcess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerOrderProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerOrderProcessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignInSoapIn">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="SignInSoapOut">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="SignOutSoapIn">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="SignOutSoapOut">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetDivisorSoapIn">
    <wsdl:part name="parameters" element="tns:GetDivisor" />
  </wsdl:message>
  <wsdl:message name="GetDivisorSoapOut">
    <wsdl:part name="parameters" element="tns:GetDivisorResponse" />
  </wsdl:message>
  <wsdl:message name="isCustomerExistsSoapIn">
    <wsdl:part name="parameters" element="tns:isCustomerExists" />
  </wsdl:message>
  <wsdl:message name="isCustomerExistsSoapOut">
    <wsdl:part name="parameters" element="tns:isCustomerExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IsLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:IsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IsLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:IsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesOrder" />
  </wsdl:message>
  <wsdl:message name="ProcesOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerOrderProcessSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerOrderProcess" />
  </wsdl:message>
  <wsdl:message name="CustomerOrderProcessSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerOrderProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="_DefaultSoap">
    <wsdl:operation name="SignIn">
      <wsdl:input message="tns:SignInSoapIn" />
      <wsdl:output message="tns:SignInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:input message="tns:SignOutSoapIn" />
      <wsdl:output message="tns:SignOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input message="tns:GetCustomerSoapIn" />
      <wsdl:output message="tns:GetCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDivisor">
      <wsdl:input message="tns:GetDivisorSoapIn" />
      <wsdl:output message="tns:GetDivisorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isCustomerExists">
      <wsdl:input message="tns:isCustomerExistsSoapIn" />
      <wsdl:output message="tns:isCustomerExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsLoggedIn">
      <wsdl:input message="tns:IsLoggedInSoapIn" />
      <wsdl:output message="tns:IsLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesOrder">
      <wsdl:input message="tns:ProcesOrderSoapIn" />
      <wsdl:output message="tns:ProcesOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerOrderProcess">
      <wsdl:input message="tns:CustomerOrderProcessSoapIn" />
      <wsdl:output message="tns:CustomerOrderProcessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="_DefaultSoap" type="tns:_DefaultSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/SignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDivisor">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/GetDivisor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isCustomerExists">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/isCustomerExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLoggedIn">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/IsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesOrder">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/ProcesOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerOrderProcess">
      <soap:operation soapAction="http://tempuri.org/SingleSignIn/_Default/CustomerOrderProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_Default">
    <wsdl:port name="_DefaultSoap" binding="tns:_DefaultSoap">
      <soap:address location="http://service.infinimarket.com/Default.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>