CXLRobot_SingleDB/Web References/com.infinishops.webservices/webservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.infinishops.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.infinishops.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.infinishops.com">
      <s:element name="GenerateInvoiceForOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderInformationXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateInvoiceForOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateInvoiceForOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GenerateInvoiceForOrderSoapIn">
    <part name="parameters" element="s0:GenerateInvoiceForOrder" />
  </message>
  <message name="GenerateInvoiceForOrderSoapOut">
    <part name="parameters" element="s0:GenerateInvoiceForOrderResponse" />
  </message>
  <portType name="webservicesSoap">
    <operation name="GenerateInvoiceForOrder">
      <input message="s0:GenerateInvoiceForOrderSoapIn" />
      <output message="s0:GenerateInvoiceForOrderSoapOut" />
    </operation>
  </portType>
  <binding name="webservicesSoap" type="s0:webservicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GenerateInvoiceForOrder">
      <soap:operation soapAction="http://www.infinishops.com/GenerateInvoiceForOrder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="webservices">
    <port name="webservicesSoap" binding="s0:webservicesSoap">
      <soap:address location="http://www.infinishops.com/webservices.asmx" />
    </port>
  </service>
</definitions>