CXLRobot_SingleDB_2/Web References/com.infinishops.addSupplier/AddSupplier.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/couponsystem.infinishops.com/AddSupplier" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/couponsystem.infinishops.com/AddSupplier" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/couponsystem.infinishops.com/AddSupplier">
      <s:element name="AddSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MerchantID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddSupplierResult" type="tns:ErrorCodesInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorCodesInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:AddSupplier" />
  </wsdl:message>
  <wsdl:message name="AddSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:AddSupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="AddSupplierSoap">
    <wsdl:operation name="AddSupplier">
      <wsdl:input message="tns:AddSupplierSoapIn" />
      <wsdl:output message="tns:AddSupplierSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddSupplierSoap" type="tns:AddSupplierSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSupplier">
      <soap:operation soapAction="http://tempuri.org/couponsystem.infinishops.com/AddSupplier/AddSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddSupplierSoap12" type="tns:AddSupplierSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="AddSupplier">
      <soap12:operation soapAction="http://tempuri.org/couponsystem.infinishops.com/AddSupplier/AddSupplier" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddSupplier">
    <wsdl:port name="AddSupplierSoap" binding="tns:AddSupplierSoap">
      <soap:address location="http://couponsystem.infinishops.com/AddSupplier.asmx" />
    </wsdl:port>
    <wsdl:port name="AddSupplierSoap12" binding="tns:AddSupplierSoap12">
      <soap12:address location="http://couponsystem.infinishops.com/AddSupplier.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>