CXLRobot_SingleDB_2/Web References/com.infini.cxl/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://cxl.infini.com" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://cxl.infini.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cxl.infini.com">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CxlLiveTest">
        <s:complexType />
      </s:element>
      <s:element name="CxlLiveTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CxlLiveTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CXLProcessingWith3dsecure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditCardNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IssueNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardExpiry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CXLResponseCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CXLMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agentAcquirer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="merchantloginid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerloginid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ccv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vts" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vav" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="threeid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="callCentre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CXLProcessingWith3dsecureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CXLProcessingWith3dsecureResult" />
            <s:element minOccurs="0" maxOccurs="1" name="CXLResponseCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CXLMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CXLProcessingWithCcvUpgrade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditCardNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IssueNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardExpiry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CXLResponseCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CXLMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agentAcquirer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="merchantloginid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerloginid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ccv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="callCentre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CXLProcessingWithCcvUpgradeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CXLProcessingWithCcvUpgradeResult" />
            <s:element minOccurs="0" maxOccurs="1" name="CXLResponseCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CXLMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CxlLiveTestSoapIn">
    <wsdl:part name="parameters" element="tns:CxlLiveTest" />
  </wsdl:message>
  <wsdl:message name="CxlLiveTestSoapOut">
    <wsdl:part name="parameters" element="tns:CxlLiveTestResponse" />
  </wsdl:message>
  <wsdl:message name="CXLProcessingWith3dsecureSoapIn">
    <wsdl:part name="parameters" element="tns:CXLProcessingWith3dsecure" />
  </wsdl:message>
  <wsdl:message name="CXLProcessingWith3dsecureSoapOut">
    <wsdl:part name="parameters" element="tns:CXLProcessingWith3dsecureResponse" />
  </wsdl:message>
  <wsdl:message name="CXLProcessingWithCcvUpgradeSoapIn">
    <wsdl:part name="parameters" element="tns:CXLProcessingWithCcvUpgrade" />
  </wsdl:message>
  <wsdl:message name="CXLProcessingWithCcvUpgradeSoapOut">
    <wsdl:part name="parameters" element="tns:CXLProcessingWithCcvUpgradeResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IfCXLLive">
      <wsdl:input name="CxlLiveTest" message="tns:CxlLiveTestSoapIn" />
      <wsdl:output name="CxlLiveTest" message="tns:CxlLiveTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CXLProcessing43DS">
      <wsdl:input name="CXLProcessingWith3dsecure" message="tns:CXLProcessingWith3dsecureSoapIn" />
      <wsdl:output name="CXLProcessingWith3dsecure" message="tns:CXLProcessingWith3dsecureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CXLProcessing">
      <wsdl:input name="CXLProcessingWithCcvUpgrade" message="tns:CXLProcessingWithCcvUpgradeSoapIn" />
      <wsdl:output name="CXLProcessingWithCcvUpgrade" message="tns:CXLProcessingWithCcvUpgradeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://cxl.infini.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IfCXLLive">
      <soap:operation soapAction="http://cxl.infini.com/CxlLiveTest" style="document" />
      <wsdl:input name="CxlLiveTest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CxlLiveTest">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CXLProcessing43DS">
      <soap:operation soapAction="http://cxl.infini.com/CXLProcessingWith3dsecure" style="document" />
      <wsdl:input name="CXLProcessingWith3dsecure">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CXLProcessingWith3dsecure">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CXLProcessing">
      <soap:operation soapAction="http://cxl.infini.com/CXLProcessingWithCcvUpgrade" style="document" />
      <wsdl:input name="CXLProcessingWithCcvUpgrade">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CXLProcessingWithCcvUpgrade">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://cxl.infini.com/HelloWorld" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IfCXLLive">
      <soap12:operation soapAction="http://cxl.infini.com/CxlLiveTest" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input name="CxlLiveTest">
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output name="CxlLiveTest">
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CXLProcessing43DS">
      <soap12:operation soapAction="http://cxl.infini.com/CXLProcessingWith3dsecure" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input name="CXLProcessingWith3dsecure">
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output name="CXLProcessingWith3dsecure">
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CXLProcessing">
      <soap12:operation soapAction="http://cxl.infini.com/CXLProcessingWithCcvUpgrade" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input name="CXLProcessingWithCcvUpgrade">
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output name="CXLProcessingWithCcvUpgrade">
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://cxl.infini.com/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://cxl.infini.com/Service.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>