CXLRobot_SingleDB_2/Web References/com.accountscentre.callback/CallBackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://callback.accountscentre.com/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://callback.accountscentre.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://callback.accountscentre.com/">
      <s:element name="PostCallBackData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MIdentity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GenericCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TrackID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsOrderSuccess" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IsOrderByBank" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCallBackDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PostCallBackDataResult" type="tns:ServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostCallBackDataSoapIn">
    <wsdl:part name="parameters" element="tns:PostCallBackData" />
  </wsdl:message>
  <wsdl:message name="PostCallBackDataSoapOut">
    <wsdl:part name="parameters" element="tns:PostCallBackDataResponse" />
  </wsdl:message>
  <wsdl:portType name="CallBackServiceSoap">
    <wsdl:operation name="PostCallBackData">
      <wsdl:input message="tns:PostCallBackDataSoapIn" />
      <wsdl:output message="tns:PostCallBackDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CallBackServiceSoap" type="tns:CallBackServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostCallBackData">
      <soap:operation soapAction="http://callback.accountscentre.com/PostCallBackData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CallBackServiceSoap12" type="tns:CallBackServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="PostCallBackData">
      <soap12:operation soapAction="http://callback.accountscentre.com/PostCallBackData" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallBackService">
    <wsdl:port name="CallBackServiceSoap" binding="tns:CallBackServiceSoap">
      <soap:address location="http://callback.accountscentre.com/services/CallBackService.asmx" />
    </wsdl:port>
    <wsdl:port name="CallBackServiceSoap12" binding="tns:CallBackServiceSoap12">
      <soap12:address location="http://callback.accountscentre.com/services/CallBackService.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>